#u70-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u130-6,#u131-8,#u111-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u202-8,#u247-4,#u246-4,#u248-4,#u249-4,#u203-4,#u295-4,#u277-4,#u280-6,#u281-6,#u282-6,#u283-4,#u296-4,#u297-4,#u307-4,#u310-4,#u304-4,#u309-4,#u305-4,#u308-4,#u311-4,#u356-4,#u317-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u327-8
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

